@import "tailwindcss";

/* Create a variables in tailwind */
@theme {
  --color-bg: #0a0a0a;
  --color-surface: #16181c;
  --color-accent: #3ddc84;
}

body {
  background-color: var(--color-bg);
  color: white;
  font-family: system-ui, sans-serif;
}